.propertyContainer {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto auto auto;
  gap:15px;
}


@media (max-width: 1280px) {
  .propertyContainer {
    grid-template-columns: auto auto;
  }
 
}

@media (max-width: 640px) {
  .propertyContainer {
    grid-template-columns: auto;
  }
}